# Ignore everything by default
*

# Allow root metadata
!.gitignore
!README.md
!LICENSE

# Allow GitHub folder
!.github/
!.github/**

# Allow Website folder
!Website/
!Website/**

# Allow package folder
!Packages/
!Packages/tech.azuki.vrc-avatar-system/
!Packages/tech.azuki.vrc-avatar-system/**